#question{

    text-align: center;

}

#gameOption{

    text-align: center;
    align-content: center;

}

#yourparasite{

    text-align: center;
    align-content: center;
}

body{

    background-color: lavenderblush;
}

