h2{
    text-align: center;
}

#Nematomorpha{

    text-align: center;
}

.video{
    text-align: center;
}
/* 
body{
    background-color: rgb(230, 232, 243);
} */

h1{
    background-color: rgb(90, 240, 152);
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.newcolor{
    
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}