h1{
    text-align: center; 
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
/* 
        display: flex;
        flex-flow: row nowrap;
        height: 100%; */
      

   }

   #box{

    padding: 10px;
    border: 25px; 
    margin: 20px;

   }

   .card-img-top{
       
       height: 200px !important;
   }