h2{
    text-align: center;
}

.video{
    text-align: center;
}

h1{
    background-color: rgb(240, 222, 90);
    margin: 0px 0px 0px 0px;
}

.newcolor{

    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}